@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply scroll-smooth
}

.will-change-transform {
  will-change: transform;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


